body{
    font-family: Arial, sans-serif;
}
/* INICIA HEADER */
header img{
    width: 100%;
    height: auto;
}
nav ul li{
    float: left;
    list-style: none;
    width: 20%;
    background-color: lightblue;
    text-align: center;
    padding-bottom: 15px;

    padding-top: 15px;
}
nav ul li:hover{
    background-color: #CCC;  
}
nav ul li.activo{
    background-color: #CCC;  
}
nav ul li a{
    color:#0e4ca1;
    text-decoration: none;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;    
}
nav ul li a:hover{
    color:white;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
/* FIN HEADER */

/* HOME */
.barraIzq{
    float: left;
    width: 20%;
    min-height: 300px;
}
.contenidoPrincipal{
    float: left;
    width: 80%;
    min-height: 300px;
}



/*INICIO SESION*/

.divInicioSesion{
    width: 250px;
    padding-bottom: 20px;
    margin: 100px auto 0 auto;

    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
}
.divInicioSesion input, .divInicioSesion button,  .divInicioSesion label{
    width: 90%;
    margin-left: 5%;
    height: 20px;
    font-size: 12pt;
    margin-top: 10px;
}
.divInicioSesion button{
    background-color: lightcoral;
    border: 0px;
    height: auto;
    padding: 6px;
}
.htmlFondo { 
    background: url(http://www.hdwallpaperspulse.com/wp-content/uploads/2016/03/10/beautiful-landscape-background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input.error{
    border: 1px solid red;
    background: rgba(255,0,0,0.2);
}
input.exito{
    border: 1px solid green;
    background: rgba(0,0,255,0.2);
}
#mensajes{
    font-size: 10pt;
    margin: 10px;
    color: gray;
}